{% extends 'base.html' %}
{% load custom_tags %}  
{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Set New Password</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1|addclass:"form-control" }}
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2|addclass:"form-control" }}
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-primary">Set Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


